//Mixins

// call with:
// @include box-shadow(
//     0 1px 4px rgba(0,0,0,0.3),
//     0 0 40px rgba(0,0,0,0.1) inset
// );
@mixin box-shadow($shadow1, $shadow2:false, $hover:false) {
    $params: $shadow1;
    @if $shadow2 {
        $params: $shadow1, $shadow2;
    }
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
    @if $hover{
        &:hover{
            -webkit-box-shadow: $hover;
            -moz-box-shadow: $hover;
            box-shadow: $hover;
        }
    }
}

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {

    @if map_has_key($breakpoints, $width) {

        $width: map_get($breakpoints, $width);

        @if $type == max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }

    }

}


@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}


// Styles

.drop-shadow-1{
    @include box-shadow(
        $shadow1: 0 1px 4px rgba(0,0,0,0.3),
        $hover: 0 1px 5px rgba(0,0,0,0.5)
    );
}
