@import "../../styles/styles";

.row{
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    width: 1024px;
    margin: auto;

    @include mq('tablet', 'max'){
        width: 100%;
    }
}
